body {
  display: center;
}

.wrapper {
  border: 1px solid gray;
  margin: 5px;
  padding: 10px;
}

h1 {
  text-align: center;
}

.question-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.answer {
  color: gray;
}
